/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

/* Wildcard selector to override browser default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General display styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

/* General heading styles */
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* Styles for the nav menu */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style: none;
}

/* Spacing for nav links */
#menu > li {
  margin-bottom: 1em;
}

/* Underline for current page */
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Nav bar styles with dropdown */
nav {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0px;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

/* Hides nav menu when not clicked */
#nav-toggle {
  display: none;
}

/* Increases size of dropdown icon */
.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */

main {
  /* To make main element take up any surplus space */
  flex: 1 0 auto;
  /* To make main content display under fixed header */
  margin-top: 47px;
}

/* Hero section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/loverunning-hero-image.webp") no-repeat center
    center/cover;
  position: relative;
}

/* Cover text div over hero image  */
#cover-text {
  /* rgba used to set opacity to 70% */
  background-color: rgba(241, 109, 107, 70%);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

/* Colouring the cover text */
#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
}

/* Position reasons div center and adjust margins */
#reasons {
  width: 90%;
  margin: 20px auto;
}

/* Make the reasons section header bigger */
#reasons h2 {
  font-size: 280%;
  margin-bottom: 20px;
  text-align: center;
}

/* Styles for the linebreaks in reasons section*/
#benefits hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

/* Spacing for child divs inside physical & mental benefits*/
#benefits-physical > div,
#benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}

/* Padding for child paragraphs of physical/mental benefits */
#benefits p {
  padding: 0 20px;
}

/* Hero section END */

/* Benefits section */

/* Benefits image */
#circle-cover-bg {
  background: url(../images/loverunning-reasons-image.webp) no-repeat center
    top/cover;
  width: 90vw;
  height: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Meet-ups section */

/* Background image of Dublin city */
#times {
  background: url(../images/loverunning-dublin-city.webp) no-repeat center
    center/cover;
  /* Makes structure responsive without media query */
  display: flex;
  flex-wrap: wrap;
}

#times > div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 60%);
  padding: 15px;
  text-align: center;
  /* Stops the divs wrapping on screens less than 400px wide
  and makes them expand to fill the row on larger screens */
  flex-basis: 200px;
  flex-grow: 1;
  /* Creates a grid of meetup time divs over the background image */
  border: 2px solid white;
}

#times h3 {
  /* Override the heading colour in general styles */
  color: #fafafa;
}

/* Footer */

/* Spacing and position of social network links */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

/* Styles for the social network link icons */
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media query: tablets and larger (768px and larger) */

@media screen and (min-width: 768px) {
  /* Header */

  /* Changes the nav menu styles for larger screens,
  removes box-shadow and makes menu fit the larger screen  */

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  /* Makes the menu take up more of the screen */
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  /* Hides the burger icon used for the drop down menu */
  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content (768px and larger) */
  main {
    /* margin-top to accomodate larger header */
    margin-top: 79px;
  }

  /* Hero image */
  #cover-text {
    width: 300px;
    right: 50px;
  }

  /* Reasons section */
  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }
}

/* Media query: larger screens - laptops and larger (992px) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}

/* Media query: larger desktop screens (1200px +) */
@media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
    flex-direction: row;
  }

  #benefits > div {
    flex: 1;
  }

  #benefits-image {
    order: 0;
  }

  #benefits-mental {
    order: 1;
  }

  #benefits-physical > div {
    align-self: flex-end;
  }

  #benefits-mental > div {
    align-self: flex-start;
  }
}
